In [1]:
import praw
import pandas as pd
import datetime as dt


reddit = praw.Reddit(client_id='',
                     client_secret='',
                     user_agent='')

In [2]:
print(reddit.read_only)  # Output: True

True

In [3]:
subreddit = reddit.subreddit('politics')

In [4]:
for submission in subreddit.hot(limit=10):
    print(submission.title)

Megathread: Democrat John Bel Edwards re-elected governor of Louisiana
Discussion Thread: Democratic Presidential Primary Polling - November 2019
Democrats Not Headed Too Far Left, Says Ocasio-Cortez, 'We Are Bringing the Party Home': "I want to be the party of the New Deal again," says the progressive congresswoman from New York. "The party of the Civil Rights Act, the one that electrified this nation and fights for all people."
Trump Replies ‘See You Soon’ After Kim Jong-un Calls for Biden to Be ‘Beaten to Death With a Stick’
Democrats seize on report of FedEx's $0 tax bill to slam Trump's tax plan
Pelosi: 'I find it a waste of my time' to 'just be talking about what Republicans say'
Chris Wallace Accuses Top Republican of ‘Very Badly’ Mischaracterizing Impeachment Testimony
Chuck Todd Confronts GOP Senator: You Blame ‘Everybody’ but Trump on Ukraine Scandal
Schumer says Trump should testify -- not tweet -- in impeachment investigation
The Suburban Backlash Against the GOP Is Growing

In [14]:
top_subreddit = subreddit.top(limit=5000)

In [15]:
topics_dict = { "title":[], 
                "score":[], 
                "id":[], "url":[],  
                "comms_num": [], 
                "created": [], 
                "body":[]}

In [16]:
for submission in top_subreddit:
    topics_dict["title"].append(submission.title)
    topics_dict["score"].append(submission.score)
    topics_dict["id"].append(submission.id)
    topics_dict["url"].append(submission.url)
    topics_dict["comms_num"].append(submission.num_comments)
    topics_dict["created"].append(submission.created)
    topics_dict["body"].append(submission.selftext)

In [17]:
topics_data = pd.DataFrame(topics_dict)

In [18]:
def get_date(created):
    return dt.datetime.fromtimestamp(created)

In [19]:
_timestamp = topics_data["created"].apply(get_date)

In [20]:
topics_data = topics_data.assign(timestamp = _timestamp)

In [21]:
topics_data.head()

,title,score,id,url,comms_num,created,body,timestamp
0,"Kim Davis, clerk who refused to sign marriage ...",101995,9uuhl3,https://www.kentucky.com/news/politics-governm...,2763,1.541581e+09,,2018-11-07 04:02:55
1,Trump revealed highly classified information t...,99354,6bd42j,https://www.washingtonpost.com/world/national-...,20827,1.494911e+09,,2017-05-16 01:03:22
2,"Trump Ordered Mueller Fired, but Backed Off Wh...",95195,7t12e6,https://www.nytimes.com/2018/01/25/us/politics...,14523,1.516958e+09,,2018-01-26 04:16:11
3,Jon Stewart Goes Off On Congress During 9/11 H...,93391,bzenag,https://www.youtube.com/watch?v=iQkMJgaHAkY,6528,1.560299e+09,,2019-06-11 20:30:15
4,California bans private prisons – including Ic...,91050,d3bwrf,https://www.theguardian.com/us-news/2019/sep/1...,3257,1.568341e+09,,2019-09-12 22:12:21

In [22]:
len(topics_data)

998

In [23]:
topics_data.describe()

               score     comms_num       created
count     998.000000    998.000000  9.980000e+02
mean    50634.667335   4900.201403  1.538456e+09
std      8953.899291   4502.677471  2.664470e+07
min     41252.000000    467.000000  1.435356e+09
25%     44151.750000   2633.000000  1.517345e+09
50%     48175.500000   3641.500000  1.544291e+09
75%     54385.500000   5337.500000  1.562531e+09
max    101995.000000  44113.000000  1.573950e+09

In [24]:
topics_data.timestamp

0     2018-11-07 04:02:55
1     2017-05-16 01:03:22
2     2018-01-26 04:16:11
3     2019-06-11 20:30:15
4     2019-09-12 22:12:21
              ...
993   2017-12-01 04:51:49
994   2018-10-17 02:59:54
995   2019-03-15 17:38:06
996   2019-11-05 01:08:40
997   2019-04-18 21:33:46
Name: timestamp, Length: 998, dtype: datetime64[ns]